<div class="itens">
    <h1>Informar itens</h1>
    <div class="itens__content">
        <h1>Itens encontrado no veiculo *</h1>
        <div class="itens__content__options">
            <div>
                <label>
                    <input type="checkbox">
                    <p>Triangulo reflexivo</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Espelho retrovisor interno</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Limpador de parabrisas</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Pala interna para sol <strong>(condutor)</strong></p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Piscas de direção</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Luzes de posição dianteiras</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Luz baixa e alta</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Chave de roda</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Chave de fenda</p>
                    <div class="content"></div>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox">
                    <p>Extintor</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Espelho retrovisor externo</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Retrovisor externo</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Cintos de segurança</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Luz de freio <strong>(stop)</strong></p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Lanternas de posição traseiras</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Macaco</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Freios de estacionamento</p>
                    <div class="content"></div>
                </label>
            </div>
        </div>
        <div class="itens__content__actions">
            <input type="button" value="Salvar" class="submit" (click)="bsModalRef.hide()">
            <a (click)="bsModalRef.hide()">Cancelar</a>
        </div>
    </div>
</div>