<div class="address">
    <h1>Local da apreensão</h1>
    <div class="address__content">
        <h1>Bairro ou distrito da apreensão? *</h1>
        <div class="address__content__options">
            <div>
                <label>
                    <input type="radio" name="anddress">
                    <p>Alto Guaramiranga</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Bela Vista</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Boa Vista</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Centro</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Canindezinho</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Campinas</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Capitão Pedro Sampaio</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Esse</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Palestina</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Riacho São Francisco</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Santa Luzia</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Santa Clara</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>São Mateus</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Imaculada Conceição</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>Nossa senhora das Graças</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="radio" name="anddress">
                    <p>João Paulo II</p>
                    <div class="content"></div>
                </label>
            </div>
        </div>
        <div class="address__content__actions">
            <input type="button" value="Salvar" class="submit" (click)="bsModalRef.hide()">
            <a (click)="bsModalRef.hide()">Cancelar</a>
        </div>
    </div>
</div>