@import "../../../../../../../scss/variables.scss";

.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 18px;
    animation: enterContentAnimation 0.6s ease-in-out;
    h1{
        color: $black;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin: 0 0 37px 0;
    }
    p{
        color: $black-alt;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.1px;
        margin: 0 0 49px 0;
        strong{
            font-weight: 700;
        }
    }
    &__actions{
        input{
            margin: 0 0 46px 0;
            font-size: 14px;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black-alt;
            font-family: 'Inter';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0 auto;
            width: unset;
            text-align: center;
            cursor: pointer;
            transition: color .2s;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

@media(max-width: 359px){
    .confirm{
        padding: 32px 15px;
        p{
            row-gap: 15px;
            display: flex;
            flex-direction: column;
        }
    }
}