<div class="itens">
    <h1>Informar itens</h1>
    <div class="itens__content">
        <h1>Itens encontrado na moto *</h1>
        <div class="itens__content__options">
            <div>
                <label>
                    <input type="checkbox">
                    <p>Espelho retrovisor</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Dispositivo destinado ao controle do ruído do motor</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Farol dianteiro</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>lanterna de freio <strong>(na cor vermelha)</strong></p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Iluminação da placa traseira</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Indicadores luminosos de mudança de direção dianteiro e traseiro</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Velocímetro</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Buzina</p>
                    <div class="content"></div>
                </label>
                <label>
                    <input type="checkbox">
                    <p>Chave de fenda</p>
                    <div class="content"></div>
                </label>
            </div>
        </div>
        <div class="itens__content__actions">
            <input type="button" value="Salvar" class="submit" (click)="bsModalRef.hide()">
            <a (click)="bsModalRef.hide()">Cancelar</a>
        </div>
    </div>
</div>