<div class="recover-password">
  <div class="recover-password__header">
    <h1>{{show != 1 ? 'Recuperar senha' : 'Código enviado'}}</h1>
    <svg
      (click)="bsModalRef.hide()"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
    >
      <path
        d="M12.2265 19.7737L19.7732 12.227M19.7732 19.7737L12.2265 12.227M11.9998 29.3337H19.9998C26.6665 29.3337 29.3332 26.667 29.3332 20.0003V12.0003C29.3332 5.33366 26.6665 2.66699 19.9998 2.66699H11.9998C5.33317 2.66699 2.6665 5.33366 2.6665 12.0003V20.0003C2.6665 26.667 5.33317 29.3337 11.9998 29.3337Z"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  
  <ng-container *ngIf="show === 0">
    <div class="recover-password__content">
      <img src="assets/img/envelope.svg" alt="Envelope azul." />
      <p>
        Parece que você esqueceu sua senha!<br />Para recuperar, por favor
        digite seu e-mail de cadastro.
      </p>
      <label>
        <h1>Digite seu e-mail *</h1>
        <input
          class="first"
          type="text"
          placeholder="ex: joaodasilva@gmail.com"
          [(ngModel)]="email"
        />
      </label>
      <input
        class="submit"
        type="button"
        value="Recuperar senha"
        (click)="alternateShow(1)"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="show === 1">
    <div class="recover-password__content">
      <img src="assets/img/icon-link.svg" alt="Icone de link." />
      <p>
        Enviamos um link de validação para seu e-mail. <br> <strong>{{email}}</strong> <br> Vá até o e-mail correspondente e clique no link.
      </p>
      <input
        class="submit"
        type="button"
        value="OK"
        (click)="bsModalRef.hide()"
      />
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="show === 2">
    <div class="recover-password__content">
      <img src="assets/img/cadeado.svg" alt="Cadeado azul." />
      <p>
        Enviamos para seu e-mail um código de 6 dígitos. Digite os números
        abaixo.
      </p>
      <h1>Código de recuperação *</h1>
      <div>
        <input
          type="text"
          maxlength="1"
          #input1
          (input)="onInput(input1, input2)"
          (keydown)="onKeyDown($event, input1, input1)"
        />
        <input
          type="text"
          maxlength="1"
          #input2
          (input)="onInput(input2, input3)"
          (keydown)="onKeyDown($event, input2, input1)"
        />
        <input
          type="text"
          maxlength="1"
          #input3
          (input)="onInput(input3, input4)"
          (keydown)="onKeyDown($event, input3, input2)"
        />
        <input
          type="text"
          maxlength="1"
          #input4
          (input)="onInput(input4, input5)"
          (keydown)="onKeyDown($event, input4, input3)"
        />
        <input
          type="text"
          maxlength="1"
          #input5
          (input)="onInput(input5, input6)"
          (keydown)="onKeyDown($event, input5, input4)"
        />
        <input
          type="text"
          maxlength="1"
          #input6
          (input)="onInput(input6)"
          (keydown)="onKeyDown($event, input6, input5)"
        />
      </div>
      <input
        class="submit"
        type="button"
        value="Recuperar senha"
        (click)="alternateShow(3)"
      />
    </div>
  </ng-container> -->

  <ng-container *ngIf="show === 3">
    <div class="recover-password__content">
      <img class="finish" src="assets/img/chave.svg" alt="Chave azul." />
      <label>
        <h1>Digite a nova senha *</h1>
        <input
          [type]="passwordModeNew ? 'password' : 'text'"
          placeholder="Com pelo menos 6 caracteres"
        />
        <div class="showorocult">
          <svg
            *ngIf="!passwordModeNew"
            (click)="passwordModeNew = !passwordModeNew"
            class="show"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M15.5799 11.9999C15.5799 13.9799 13.9799 15.5799 11.9999 15.5799C10.0199 15.5799 8.41992 13.9799 8.41992 11.9999C8.41992 10.0199 10.0199 8.41992 11.9999 8.41992C13.9799 8.41992 15.5799 10.0199 15.5799 11.9999Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.9998 20.2697C15.5298 20.2697 18.8198 18.1897 21.1098 14.5897C22.0098 13.1797 22.0098 10.8097 21.1098 9.39973C18.8198 5.79973 15.5298 3.71973 11.9998 3.71973C8.46984 3.71973 5.17984 5.79973 2.88984 9.39973C1.98984 10.8097 1.98984 13.1797 2.88984 14.5897C5.17984 18.1897 8.46984 20.2697 11.9998 20.2697Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            *ngIf="passwordModeNew"
            (click)="passwordModeNew = !passwordModeNew"
            class="ocult"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M14.5298 9.46984L9.46984 14.5298C8.79884 13.8588 8.42188 12.9488 8.42188 11.9998C8.42188 11.53 8.51442 11.0647 8.69423 10.6306C8.87404 10.1965 9.13759 9.80208 9.46984 9.46984C9.80208 9.13759 10.1965 8.87404 10.6306 8.69423C11.0647 8.51442 11.53 8.42188 11.9998 8.42188C12.9488 8.42188 13.8588 8.79884 14.5298 9.46984Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.8198 5.77047C16.0698 4.45047 14.0698 3.73047 11.9998 3.73047C8.46984 3.73047 5.17984 5.81047 2.88984 9.41047C1.98984 10.8205 1.98984 13.1905 2.88984 14.6005C3.67984 15.8405 4.59984 16.9105 5.59984 17.7705M8.41984 19.5305C9.55984 20.0105 10.7698 20.2705 11.9998 20.2705C15.5298 20.2705 18.8198 18.1905 21.1098 14.5905C22.0098 13.1805 22.0098 10.8105 21.1098 9.40047C20.7798 8.88047 20.4198 8.39047 20.0498 7.93047"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.51 12.7C15.3745 13.3976 15.0337 14.0387 14.5312 14.5412C14.0287 15.0437 13.3876 15.3845 12.69 15.52M9.47 14.53L2 22M22 2L14.53 9.47"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </label>
      <label class="last">
        <h1>Repita a nova senha *</h1>
        <input
          [type]="passwordModeRepeat ? 'password' : 'text'"
          placeholder="Repita os caracteres digitados acima"
        />
        <div class="showorocult">
          <svg
            *ngIf="!passwordModeRepeat"
            (click)="passwordModeRepeat = !passwordModeRepeat"
            class="show"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M15.5799 11.9999C15.5799 13.9799 13.9799 15.5799 11.9999 15.5799C10.0199 15.5799 8.41992 13.9799 8.41992 11.9999C8.41992 10.0199 10.0199 8.41992 11.9999 8.41992C13.9799 8.41992 15.5799 10.0199 15.5799 11.9999Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.9998 20.2697C15.5298 20.2697 18.8198 18.1897 21.1098 14.5897C22.0098 13.1797 22.0098 10.8097 21.1098 9.39973C18.8198 5.79973 15.5298 3.71973 11.9998 3.71973C8.46984 3.71973 5.17984 5.79973 2.88984 9.39973C1.98984 10.8097 1.98984 13.1797 2.88984 14.5897C5.17984 18.1897 8.46984 20.2697 11.9998 20.2697Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            *ngIf="passwordModeRepeat"
            (click)="passwordModeRepeat = !passwordModeRepeat"
            class="ocult"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M14.5298 9.46984L9.46984 14.5298C8.79884 13.8588 8.42188 12.9488 8.42188 11.9998C8.42188 11.53 8.51442 11.0647 8.69423 10.6306C8.87404 10.1965 9.13759 9.80208 9.46984 9.46984C9.80208 9.13759 10.1965 8.87404 10.6306 8.69423C11.0647 8.51442 11.53 8.42188 11.9998 8.42188C12.9488 8.42188 13.8588 8.79884 14.5298 9.46984Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.8198 5.77047C16.0698 4.45047 14.0698 3.73047 11.9998 3.73047C8.46984 3.73047 5.17984 5.81047 2.88984 9.41047C1.98984 10.8205 1.98984 13.1905 2.88984 14.6005C3.67984 15.8405 4.59984 16.9105 5.59984 17.7705M8.41984 19.5305C9.55984 20.0105 10.7698 20.2705 11.9998 20.2705C15.5298 20.2705 18.8198 18.1905 21.1098 14.5905C22.0098 13.1805 22.0098 10.8105 21.1098 9.40047C20.7798 8.88047 20.4198 8.39047 20.0498 7.93047"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.51 12.7C15.3745 13.3976 15.0337 14.0387 14.5312 14.5412C14.0287 15.0437 13.3876 15.3845 12.69 15.52M9.47 14.53L2 22M22 2L14.53 9.47"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </label>
      <input
        class="submit"
        type="button"
        value="Criar nova senha"
        (click)="bsModalRef.hide()"
      />
    </div>
  </ng-container>
</div>
